html
    head
        link(rel="stylesheet" href="./style.css")
    body
        div
            each link in links
                a(href=link.href)
                    img(src=link.src)
                    span #{link.name}
