html
    head
        link(rel="stylesheet" href="./style.css")
    body
        div.list
            each card in cards
                div.card
                    a(href=card.href)
                        img(src=card.src)
                        span #{card.name}
                    strong #{card.price}
