body {
    margin: 0
}

.list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
a {
    display: flex;
    flex-direction: column;
}
strong {
    color: red;
    font-size: 20px;
}
